Export Path: "Output\Sample.xlsx"
Template Path: "Imports\Template\template.xlsx"
Sheets Path: "Imports\Sheets\Sample\"
All Headers: "ACCT_NBR", "NAME_PRFX", "FIRST_NM", "MIDDLE_NM", "LAST_NM", "NAME_SFX", "DESIG", "FULL_NAME", "COMMON_NN", "SEX", "BIRTH_DT", "WHICH_INT", "MARTL_STS", "SPOUSE", "MBR_TYP", "CERT_TYP", "STATUS", "TIMELINE_NAME", "TIMELINE_START_DATE", "TIMELINE_END_DATE", "EMAIL", "MAIL_TO", "MAIL_COMP", "MAIL_TTLE", "MAIL_LIN1", "MAIL_LIN2", "MAIL_CITY", "MAIL_ST", "MAIL_ZIP", "MAIL_CTRY", "MAIL_CNTY", "BUS_COMP", "BUS_TTLE", "BUS_LIN1", "BUS_LIN2", "BUS_CITY", "BUS_ST", "BUS_ZIP", "BUS_CTRY", "BUS_CNTRY", "BUS_ALT", "BUS_PH", "BUS_FAX", "HOME_COMP", "HOME_TTLE", "HOME_LIN1", "HOME_LIN2", "HOME_CITY", "HOME_ST", "HOME_ZIP", "HOME_CTRY", "HOME_CNTY", "HOME_ALT", "HOME_PH", "HOME_FAX", "JOIN_DT", "DESIG_DT", "CAND_DT", "AFFIL_DT", "LIFE_DT", "RETRD_DT", "LF_RT_DT", "SEMRET_DT", "TEMPNP_DT", "REGION", "PRMY_CHP", "SECD_CHP", "OTH_CHP", "WEB_ADRS"
Headers to Extract: "ACCT_NBR", "FIRST_NM", "LAST_NM", "MBR_TYP", "EMAIL", "MAIL_CNTY", "BUS_PH", "CERT_TYP"
Included Files: "Sample1.xlsx", "Sample2.xlsx", "Sample3.xlsx"